<launch>
    <arg name="apriltag_package_name" default="apriltag_ros"/>
    <!-- <arg name="apriltag_base_link" default="panda_1_ft_origin"/> -->
    <!-- <arg name="camera_serial_no" default="220422303182"/> -->
    <arg name="camera_serial_no" default="038122250513"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="apriltag_frame"
          required="true" args="0, 0, 0, -0.5, 0.5, -0.5, 0.5 panda_end_effector apriltag_frame"/>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="camera"/>
        <arg name="serial_no" value="$(arg camera_serial_no)"/>
        <arg name="enable_pointcloud" value="false"/>
        <arg name="color_fps" value="15"/>
        <!-- <arg name="color_width" value="1280"/>
        <arg name="color_height" value="720"/> -->
    </include>

    <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
        <arg name="camera_name" value="/camera/color"/>
        <arg name="camera_frame" value="/cameracolor_optical_frame"/>
        <arg name="image_topic" value="image_raw"/>
        <arg name="node_namespace" value="apriltag_ros_continuous_node_1"/>
        <arg name="publish_tf" value="true"/>
        <arg name="detection_id" value="_1"/>
        <arg name="params_package_name" value="$(arg apriltag_package_name)"/>
    </include>


</launch>