<launch>
    <arg name="camera_serial_no" default="038122250513"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="camera" value="camera"/>
        <arg name="serial_no" value="$(arg camera_serial_no)"/>
        <arg name="enable_pointcloud" value="false"/>
        <arg name="color_fps" value="15"/>
        <arg name="depth_fps" value="15"/>
        <arg name="infra_fps" value="15"/>
        <arg name="color_width" value="640"/>
        <arg name="color_height" value="480"/>
        <!-- <arg name="depth_width" value="640"/>
        <arg name="depth_height" value="480"/> -->
        <arg name="infra_width"  value="640"/>
        <arg name="infra_height" value="480"/>
        <arg name="enable_infra1" value="true"/>
        <arg name="enable_infra2" value="true"/> 
        <arg name='align_depth' value='true'/>
        <!-- <arg name="rgb_camera.enable_auto_exposure" value="false"/> -->

    </include>
</launch>